<p id="notice"><%= notice %></p>

<div class="toppage">
<h1 class="top">カレンダー</h1>
<div class="col-md-8">
<%= month_calendar events: @calendars do |date, tasks| %>
  <%= date.day %>

  <% tasks.filter{|task| !task.is_done? }.each do |task| %>
    <div>
      <% if task.family_id == current_user.families.first.id %>
        <%= link_to task.title, task %>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
<br><br>
<div class="col-md-4">
	<div class="schedule">タスク一覧</div>
  <br>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>タイトル</th>
          <th>時間</th>
          <th>ペット</th>
          <th>ユーザー</th>
        </tr>
      </thead>
      <tbody>
      <% @tasks.filter{|task| !task.is_done? }.each do |task| %>
        <tr>
          <% if task.family_id == current_user.families.first.id %>
            <td><%= link_to task.title , task %></td>
            <td><%= task.start_time.strftime("%H:%M") %></td>
            <td><%= task.pet.name %></td>
            <td><%= current_user.name%></td>
            <td><%= button_to 'Done', done_path(task.id), method: :post %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'New Task', new_task_path %>
<br>
<div class="done"%>
<h4>完了したタスク</h4>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>ペット</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.filter{|task| task.is_done? }.each do |task| %>
    <tr>
      <td><%= link_to task.title , task %></td>
      <td><%= task.pet.name %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
</div>
</div>

