<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>タイトル</strong>
  <%= @task.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @task.start_time.strftime("%H:%M") %>
</p>


<p>
  <strong>ユーザー名:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>ペット:</strong>
  <%= @task.pet.name %>
</p>

<p>
  <strong>内容</strong>
  <%= @task.content %>
</p>


<%= link_to '編集', edit_task_path(@task) %>
<%= link_to '消去',task_path(@task.id), method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', tasks_path %>
</div>

