<div class="col-4">
  <h1>My pets</h1>
  <hr />
  <p>
    <strong>名前</strong>
    <%= @pet.name %>
  </p>
  <p>
    <strong>誕生日</strong>
    <%= @pet.birthday.strftime("%y-%m-%d") %>
  </p>
  <p>
    <strong>体長</strong>
    <%= @pet.lenght %>
  </p>
  <p>
    <strong>体重</strong>
    <%= @pet.weight %>
  </p>
  <p>
    <strong>備考</strong>
    <%= @pet.content %>
  </p>
  <br>
  <%= link_to '編集', edit_pet_path(@pet) %>
  <%= link_to '消去',pet_path(@pet.id), method: :delete, data: { confirm: '本当に?' } %>
  <%= link_to '戻る', pets_path %>
</div>