<div class="container">
  <div class="row">
    <div class="col-4">
    <h1 class="top">体調管理</h1>
    <hr />
      <%= form_with(model: @post, local: true) do |form| %>
        <div class="title">
          <div class="form-tag">タイトル</div>
          <%= form.text_field :title %>
        </div>
        <div class="name">
          <div class="form-tag">ペット名</div>
          <%= form.collection_select(:pet_id,@pets,:id,:name)%>
        </div>
        <div class="content">
          <div class="form-tag">内容</div>
          <%= form.text_area :content %>
        </div>
        <div class="time">
          <div class="form-tag">時間</div>
          <%= form.datetime_select :start_time %>
        </div>
        <br>
        <div class="submit">
          <%= form.submit %>
        </div>
        <%= form.hidden_field :family_id, :value => current_user.families.first.id %>
      <% end %>
    </div>
    <div class="col-4 icon">
    </div>
  </div>
</div>
